@using NewsBlogProject.ViewModels

@model HomePageViewModel
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@section Categories
{
    <div class="card shadow-sm">
        <div class="card-header fw-bold">
            Categories
        </div>

        <div class="list-group list-group-flush">
            <a asp-action="Index"
               class="list-group-item list-group-item-action">
                All Categories
            </a>

            @foreach (var cat in Model.Categories)
            {
                <a asp-action="Index"
                   asp-route-categoryId="@cat.CategoryId"
                   class="list-group-item list-group-item-action">
                    @cat.CategoryName
                </a>
            }
        </div>
    </div>
}


<div id="blogList">
    @await Html.PartialAsync("_BlogList", Model)
</div>

@section Scripts
{
    <script>
        $(document).on("click", ".ajax-page", function () {
            let page = $(this).data("page");

            $.ajax({
                url: '@Url.Action("Index", "Home")',
                type: 'GET',
                data: {
                    page: page,
                    categoryId: '@Model.CategoryId',
                    search: '@Model.Search'
                },
                success: function (result) {
                    $("#blogList").html(result);
                }
            });
        });
    </script>
}
